@inherits LayoutComponentBase
@using Blazored.Toast
@using Blazored.Toast.Configuration

<PageTitle>HRMS</PageTitle>

<BlazoredToasts 
    Position="ToastPosition.TopRight"
    Timeout="5000"
    IconType="IconType.FontAwesome"
    SuccessClass="success-toast-override"
    SuccessIcon="fa fa-check-circle"
    ErrorIcon="fa fa-bug" />


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>